body{
    background-color: rgb(62, 4, 4);
    font-family: 'Orbitron';
}
label{
    color: rgb(247, 238, 238);
    font-size: 13px;
    font-family: 'Orbitron';
  }
  
  .mainLabel{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 1px;
    color: rgb(246, 240, 240);
    font-family: 'Orbitron';
  }
  
  
  .textBox{
    border: 1px solid rgb(232, 232, 232);
    padding: 4px;
    width: 250px;
    font-size: 13px;
    font-family: 'Orbitron';
  }
  
  .foodLabel{
    padding-left: 5px;
    font-family: 'Orbitron';
  }
  
  input{
    font-size: 13px;
    font-family: 'Orbitron';
  }
  
  .radioLabel{ 
    padding: 13px 20px 0 5px;
    font-size: 14px;
    position: relative;
    bottom: 2px;
    font-family: 'Orbitron';
  }
  
  .btn{
    margin-top: 20px;
    width: 250px;
    background-color: rgb(208, 215, 15);
    color: red;
    font-family: 'Orbitron';
  }
  
  
  #warning{
    color:red;
    padding: 40px 0 0 20px;
    font-family: 'Orbitron';
  }
  
  .btn:focus,a:active {
    outline: none !important;
    box-shadow: none;
  }
  table,th,tbody,h1,p{
    color: white;
    font-family: 'Orbitron';
  }